<h2 mat-dialog-title>Skasuj Bilet</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Wybierz pojazd (vehicle ID)</mat-label>
    <input matInput [(ngModel)]="searchVehicle" (input)="filterVehicles()" placeholder="Wyszukaj pojazd po ID">
  </mat-form-field>

  <mat-select placeholder="Wybierz pojazd" [(value)]="selectedVehicleId">
    <mat-option *ngFor="let vehicle of filteredVehicles" [value]="vehicle.vehicleId">
      {{ vehicle.vehicleId }}
    </mat-option>
  </mat-select>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="cancel()">Anuluj</button>
  <button mat-button color="primary" (click)="activateTicket()">Aktywuj</button>
</mat-dialog-actions>

