.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
}

.toolbar-title-text {
  flex-grow: 1;
  animation: fadeIn 0.5s ease-in-out;
}

.toolbar-left,
.toolbar-right {
  display: flex;
  gap: 5%;
}


