#page-title {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
}

#page-content-container {
  background: #fafafa;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
}


.ticket-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
}

.ticket-card {

}

.card-content-container {
  padding: 5%;
}

.color-marker-time {
  background-color: #ec8e8e;
  height: 0.8em;
  border-radius: 2px;
}

.color-marker-onetime {
  background-color: #f8e9a0;
  height: 0.8em;
  border-radius: 2px;
}

.color-marker-period {
  background-color: #bae390;
  height: 0.8em;
  border-radius: 2px;
}


mat-card-title {
  font-size: 1.4em;
  margin-bottom: 5%;
}

mat-card-content {
  font-size: 1.1em;
  margin-bottom: 5%;
}

mat-card-actions{
    padding: 1rem;
    gap: 1rem;
}
