#page-title {
  text-align: center;
  font-size: 15pt;
  background: #f5f5f5;
  padding-top: 6%;
  padding-bottom: 3%;
}

.ticket-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.ticket-card {
    padding: 1rem;
}

.ticket-type-time {
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #c5e8cd;
}

.ticket-type-onetime {
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #e8e1c5;
}

.ticket-type-period {
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #eac8c2;
}

mat-card-title {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 15pt;
}

mat-card-content {
  padding-top: 2%;
  padding-bottom: 2%;
  background: #fafafa;
  border-radius: 5px;
  font-size: 11pt;
}

mat-card-actions{
    padding: 1rem;
    gap: 1rem;
}
