<mat-toolbar color="primary" class="toolbar" role="navigation">

  <!-- Lewa nawigacja -->
  <div class="toolbar-left">
    <span class="toolbar-title-text">Elektroniczny Bilet Miejski</span>
  </div>

  <!-- Prawa nawigacja -->
  <div class="toolbar-right">

    <a mat-button routerLink="/">Strona Główna</a>
    <a mat-button routerLink="/passenger">Oferta</a>
    <a *ngIf="isLoggedIn()" mat-button routerLink="/passenger/my">Moje bilety</a>

    <ng-container *ngIf="!isLoggedIn(); else logged">
      <a mat-button routerLink="/register">Zarejestruj</a>
      <a mat-button routerLink="/login">Zaloguj</a>
    </ng-container>

    
    <ng-template #logged>
      <a mat-button routerLink="/profile">Mój Profil</a>
      <button mat-button (click)="logout()">Wyloguj</button>
    </ng-template>
  </div>
</mat-toolbar>
