<mat-card *ngIf="user" id="main-container">
  <mat-card-header id="user-info">
    <mat-card-title id="user-email">Adres e-mail: {{ user.email }}</mat-card-title>
    <mat-card-subtitle id="user-role">{{ user.role=="PASSENGER"? "Jesteś zalogowany jako pasażer." : "" }}</mat-card-subtitle>
  </mat-card-header>

  <!-- User tickets list -->
  <ng-container *ngIf="user.role!='ADMINISTRATOR'">
    <mat-card-content id="user-tickets-container">
        <mat-card *ngFor="let ticket of tickets" class="ticket-card">
          <mat-card-header>
            <mat-card-title>{{ ticket.ticketTypeName.name }}</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <!-- Ticket purchase date -->
            <p id="ticket-purchase-text">
              <strong>
                Data zakupu:
              </strong>
              {{ ticket.purchaseDate | date: 'dd-MM-yyyy' }}
            </p>

            <!-- Unique ticket code -->
            <p id="ticket-code-text">
              <strong>Kod biletu:</strong> {{ticket.code}}
            </p>

            <!-- Ticket status -->
            <p [ngClass]="{
            'inactive': !ticket.activationDate,
            'active': ticket.used && ticket.activationDate && !isTicketExpired(ticket),
            'expired': isTicketExpired(ticket)
          }">
              <span *ngIf="!ticket.activationDate && !isTicketExpired(ticket) && ticket.ticketTypeName.category !== 'PERIOD'">Nieaktywowany</span>
              <span *ngIf="ticket.activationDate && !isTicketExpired(ticket)">Aktywny</span>
              <span *ngIf="isTicketExpired(ticket)">Wygasły</span>
            </p>

            <!-- Valid until date -->
            <p *ngIf="ticket.validUntil">
              <strong>Ważny do:</strong> {{ ticket.validUntil | date: 'dd-MM-yyyy HH:mm:ss' }}
            </p>

            <!-- Vehicle assigned to ticket -->
            <p *ngIf="ticket.vehicleId">
              <strong>Pojazd:</strong> {{ ticket.vehicleId }}
            </p>

            <!-- Activate ticket button (if ticket unused and not activated yet) -->
            <button *ngIf="!ticket.used && !ticket.vehicleId" mat-raised-button color="primary" (click)="openVehicleSelectionDialog(ticket)">Aktywuj bilet</button>

          </mat-card-content>
        </mat-card>


      <!-- Jeśli brak biletów -->
      <mat-list *ngIf="tickets.length === 0 && user.role==='PASSENGER'">
        <p>Brak biletów.</p>
      </mat-list>

      <button class="btn-classic" *ngIf="user.role==='PASSENGER'" mat-raised-button color="primary" (click)="goToTickets()">Oferta biletów</button>

      <mat-list *ngIf="user.role==='TICKET_INSPECTOR'">
        <p>Witaj bileterze!</p>
      </mat-list>


      <!-- Wyszukiwanie i rozwijana lista pojazdów -->
<!--      <mat-form-field appearance="fill">-->
<!--        <mat-label>Wybierz pojazd (vehicle ID)</mat-label>-->
<!--        <input matInput [(ngModel)]="searchVehicle" (input)="filterVehicles()" placeholder="Wyszukaj pojazd po ID">-->
<!--      </mat-form-field>-->

<!--      <mat-select placeholder="Wybierz pojazd" [(value)]="selectedVehicleId">-->
<!--        <mat-option *ngFor="let vehicle of filteredVehicles" [value]="vehicle.vehicleId">-->
<!--          {{ vehicle.vehicleId }}-->
<!--        </mat-option>-->
<!--      </mat-select>-->

    </mat-card-content>

  </ng-container>

  <!-- If user is ADMINISTRATOR -->
  <ng-container *ngIf="user.role==='ADMINISTRATOR'">
    <mat-card>

      <mat-card-content>
        <mat-card-title>
          Witaj Administratorze! Co chcesz zrobić?
        </mat-card-title>
        <button class="btn-classic" mat-raised-button color="primary" (click)="goToTickets()">Edytuj ofertę biletową -></button>
        <button class="btn-classic" mat-raised-button color="primary" (click)="goToUsersList()">Przeglądaj użytkowników -></button>
      </mat-card-content>
    </mat-card>

  </ng-container>

</mat-card>

<!-- Jeśli użytkownik nie jest zalogowany -->
<mat-card *ngIf="!user">
  <mat-card-header>
    <mat-card-title>Brak informacji o użytkowniku</mat-card-title>
  </mat-card-header>
</mat-card>

