#main-container{
}

.page-content-container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#user-info {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #e7e7e7;
}

#user-email {
  font-size: 1.4em;
  font-weight: bold;
}

#user-role {
  font-size: 1.1em;
  margin-top: 1em;
}

#user-tickets-container {
  margin-top: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  max-height: 70vh;
  overflow-y: auto;
}

.ticket-card {
  flex: 1 1 calc(33.333% - 10px); // domyślnie 3 bilety w rzędzie
  max-width: calc(33.333% - 10px);
  min-width: 250px;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 900px) {
  .ticket-card {
    flex: 1 1 calc(50% - 10px); // 2 bilety
    max-width: calc(50% - 10px);
  }
}

@media (max-width: 600px) {
  .ticket-card {
    flex: 1 1 100%; // 1 bilet
    max-width: 100%;
  }
}

#card-content {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

mat-card-title {
  font-size: 1.3em;
  margin-bottom: 5%;
}


mat-card-content {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

button mat-flat-button {
  background: #1a237e;
}

.btn-classic {
  min-width: fit-content;
  text-align: center;
}


mat-raised-button {
  background: none;
  border: #2f2f2f 1px solid;
  color: white;
}


.ticket-card .inactive {
  color: gray;
}

.ticket-card .active {
  color: green;
}

.ticket-card .expired {
  color: red;
}

.color-marker-time {
  background-color: #ec8e8e;
  height: 0.8em;
  border-radius: 2px;
}

.color-marker-onetime {
  background-color: #f8e9a0;
  height: 0.8em;
  border-radius: 2px;
}

.color-marker-period {
  background-color: #bae390;
  height: 0.8em;
  border-radius: 2px;
}
