.page-content {
  width: 100%;
  flex: 1;
}

#image-container {
  width: 100%;
  overflow: auto;
}

.home-img {
  width: 100%;
  transform: translateY(-45%);
}

.home-content {
  position: relative;
  display: flex;
  flex: 1;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 4%;
  padding-bottom: 2%;
  margin-top: -40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

h1 {
  font-size: 14pt;
  font-weight: bold;
}

.home-paragraph {
  margin: 0;
  width: 50%;
  padding: 2%;
  text-align: justify;
  font-size: 11pt;
}

.home-text-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 0;
  margin: 0;
}


