<body class="page-content">

  <div id="image-container">
    <img class="home-img" src="img/img01.png" alt="Autobus"/>

  </div>

  <section class="home-content">

    <h1>Witaj w systemie Elektronicznego Biletu Miejskiego!</h1>

    <section class="home-text-container">

      <p class="home-paragraph">Nasza aplikacja została stworzona z myślą o ułatwieniu poruszania się po mieście, oferując prosty sposób zakupu i aktywowania biletów komunikacji miejskiej. Dzięki naszej platformie, już nigdy nie będziesz musiał martwić się o poszukiwanie kasy biletowej czy wydawanie drobnych – bilet kupujesz w kilka chwil bezpośrednio z aplikacji.
      </p>
      <p class="home-paragraph">
      Nasza oferta obejmuje różne typy biletów – zarówno jednorazowe jak i okresowe, a także bilety ulgowe, które zapewniają zniżki dla określonych grup użytkowników. Dzięki systemowi aktywacji biletów, masz pewność, że Twój bilet jest zawsze ważny, a całą procedurę skasowania biletów przeprowadzisz w prosty sposób na naszym interfejsie.
      </p>
    </section>
    <section class="home-text-container">
      <p class="home-paragraph">
        Niezależnie od tego, czy jesteś pasażerem, kontrolerem czy administratorem systemu, nasza aplikacja dostosowuje się do Twoich potrzeb, oferując dostęp do wszystkich funkcji w sposób intuicyjny i wygodny. Naszym celem jest, aby każda podróż po mieście była jak najwygodniejsza i bezproblemowa.
      </p>
      <p class="home-paragraph">
        Masz pytania lub napotkałeś problem? Skontaktuj się z nami pod adresem: <i>admin&#64;gmail.com</i>. Jesteśmy tu, aby Ci pomóc!
      </p>
    </section>

  </section>
</body>

